<form class="example-form">
    <h1>Login</h1>
    <link rel="stylesheet" href="forms.component.css">
    <div class="form-control">
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="Email " >
          <mat-error ></mat-error>
        </mat-form-field>
      </div>
      
  <div class="form-control">
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput placeholder="Password ">
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field>
      <mat-label></mat-label>
      <input matInput placeholder="Password ">
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field>
      <mat-label> </mat-label>
      <input matInput placeholder=" Confirm Password ">
    </mat-form-field>
  </div>
  <button mat-raised-button >Login</button>
  </form>