<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="login.component.css">

    <div class="container">
<h2>Login</h2>
<form>
    <input type="user" placeholder="Username ">
    <input type="password" placeholder="password">
    <input type="button" class="btn" value="Submit">
</form>

<p>
    olvidaste tu contraseña <a href="">Click Here</a>  
</p>
<p>
    No tienes cuenta  <a href="C:\Users\luisy\Desktop\Nueva carpeta\proyectoing1\src\app\form\form.component.html">Click Here</a>
</p>
</div> 
</html>
