<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="form.component.css">
<body>
    <div class="container">
        <h2>Form</h2>
        <form>
            <input type="email" placeholder="Correo electronico ">
            <input type="password" placeholder="Password">
            <input type="Username" placeholder="Crea un usuario">
            <input type="password" placeholder="Crea una contraseña">
            <input type="password" placeholder="Confirma tu contraseña">
            <input type="button" class="btn" value="Logou">
        </form>
        
        <p>
            Logeate con cuenta de gogle <a href="">Click Here</a>  
        </p>
        <p>
            login <a href="C:\Users\luisy\Desktop\Nueva carpeta\proyectoing1\src\app\login\login.component.html">Click Here</a>
        </p>
        </div> 
</body>
</html>